*{
    padding: 0;
    margin: 0,0,0,0; /* voir position: sticky*/
   
}
#Projet_global, #Articles_global{
    width: 100%;
    display:flex;
  
}
.hover-effect:hover{
   opacity: 50%;
   border-radius: 3px;
   filter: grayscale(0);

}

img:first-child {
    filter: grayscale(1);
}

nav {
   
}

.titre1 {

    font-size: 300%;
    width:100%;
    color: rgb(85, 83, 83);
    position: sticky;
    


}


section h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, center;

}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    background: url(/assets/road960_720.webp) no-repeat center fixed;
    -webkit-background-size: cover;
}

p {
    color: aliceblue;
}

ul {
    text-align: center; /* pose le menu au centre de la page*/
        
}

.menu li {
    display: inline-block; /* alligne les box à l'horizontal*/
    margin-left: 5%;
    margin-right: 5%;
}




/*recuperé sur pierre-giraud.com donc a tester pour portfolio definitif*/
.sous {
    display:none;
    box-shadow: 0px 1px 2px #ccc;
    background-color: rgba(255, 255, 255, 0.253);
}
nav > ul li:hover .sous{
    display:block;
}
/*-------------------------------------------------------------------------*/

input {
    width: 30%;
    height: 35px;
    text-align: center;
    font-size: 35px;
}

textarea{
    width: 30%;
    height: 150px;
    text-align: center;
    font-size: 35px;
    box-shadow:#ccc;
}

button{
    width: 30%;
    height: 50px;
    color: rgb(247, 241, 233);
    font-size: 30px;
    background-color: blue;
}

footer img {
}